<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ClientId" value="0bfb7f71e118e33" />
    <add key="ClientSecret" value="5df61c78088add90c53cb12b470a33e74c110722" />
    <add key="MashapeKey" value="qWOs6WtMyWmshWZtmJA5mKhg6G09p1RALs7jsnPKi217Ti0e2C" />
    <add key="RefreshToken" value="0ca33d4574cfb3644605018fc22972d10071c6e0" />
  </appSettings>
</configuration>