<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ClientId" value="0bfb7f71e118e33" />
    <add key="ClientSecret" value="ad4093330621b0dd66963c4f56d23ba0247bde03" />
    <add key="MashapeKey" value="KrT0r9f5YImsh6p6IMBEzATnLCTNp18BJfxjsnhI1FQec1xVZE" />
    <add key="RefreshToken" value="51e55e2661a668f7ade137d0bd17f5356bc2008a" />
  </appSettings>
</configuration>